@tailwind base;
@tailwind components;
@tailwind utilities;

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px transparent inset !important;
    -webkit-text-fill-color: currentColor;
    background-color: transparent !important;
}

input {
    background-color: transparent !important;
    border: none;
    outline: none;
}

.resizable-box {
    position: relative;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.resize-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.react-resizable-handle {
    z-index: 10;
}

.drag-handle {
    cursor: move;
}

.resize-handle {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20px;
    height: 20px;
    background: rgba(0, 0, 0, 0.2);
    cursor: se-resize;
}